.nav-container {
  flex-direction: column;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-weight: 400;
}
.header {
  height: 144px;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: #fcfcfc;
  box-shadow: 0px 7px 15px -1px rgba(0,0,0,0.25);
}
.navbar {
  padding-bottom: 0 !important;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  width: 100%;
}
.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
}
#responsive-navbar-nav {
  height: 60px;
  width: 100%;

}
.nav-style {
  width: 100%;
  background-color: #fcfcfc;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 7px 15px -1px rgba(0,0,0,0.25);
}

.nav-toggle {
  display: none;
}

.desktop-nav {
  display: flex;
}
.logo {
  height: 100px;
}
.logo-md, .logo-sm{
  display: none;
}
.nav-items {
  text-transform: uppercase;
  column-gap: 45px;
  justify-content: space-between;
}

.nav-items > a {
  /* color: var(--palette-grey-lighter) !important; */
  font-size: 1rem;
}

#active {
  background-color: #dcdee2 !important;
  color: black !important;
  border-radius: 4px;
}

.additional-links {
  display: none !important;
}
.logout-btn:hover {
  background-color: none !important;
  font-size: 5rem !important;
}

@media only screen and (max-width: 991px) {
  .logo {
    display: none;
  }
  .logo-md {
    display: block;
    height: 78px;
  }
  .sticky {
    position: unset;
    box-shadow: none;
  }
  .nav-toggle {
    display: flex;
  }
  .flex {
    justify-content: unset;
  }
  .nav-container {
    flex-direction: row !important;
    max-width: unset !important;
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
  .header {
    width: 100%;
    position: relative;
  }
  .navbar-brand {
    /* margin-left: auto !important;
    margin-right: auto !important; */
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .navbar-nav {
    width: 100%;
  }
  .logo {
    height: 78px;
  }
  .bo-btn {
    display: none !important;
  }
  .additional-links {
    display: block !important;
  }

  #logout-btn {
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
    position: relative;
    left: -4px;
  }
  #responsive-navbar-nav {
    height: unset;
  }
  .nav {
    padding-bottom: 20px;
  }
  .nav-style {
    position: fixed !important;
  }
  .header {
    height: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .nav-container {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .logo-container {
    width: unset !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    height: 60px;
  }
  .logo {
    height: 60px;
  }
  .nav-items > a {
    font-size: 0.8rem;
  }
  .logo-md {
    display: none;
  }
  .logo-sm {
    display: block;
    height: 40px;
  }
}