.nav-style {
  width: 100%;
  background-color: var(--palette-black-main);
  position: sticky;
  z-index: 1000;
  top: 0;
}

.desktop-nav {
  display: flex;
}

.logo-style {
  font-family: 'Russo One', sans-serif;
  background-color: var(--palette-primary-light);
  padding: 4px 6px;
  /* border-radius: 3px; */
  font-weight: 800;
  color: var(--palette-primary-main) !important;
  -webkit-text-stroke: 1px var(--palette-primary-dark);
  letter-spacing: 1px;
}

.nav-items {
  text-transform: uppercase;
  column-gap: 45px;
  justify-content: space-between;
}

.nav-items > a {
  color: var(--palette-grey-lighter) !important;
}

#active {
  font-weight: 600;
  background-color: #dcdee2 !important;
  color: black !important;
}

.additional-links {
  display: none !important;
}

@media only screen and (max-device-width: 991px) {
  .additional-links {
    color: var(--palette-grey-lighter) !important;
    display: block !important;
  }

  #logout-btn {
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
    position: relative;
    left: -4px;
  }
}
