.card-header-surcharge {
    text-align: end;
    background-color: #2C2F35 !important;
    color: #fff;
    border-radius: 0px !important;
}

.list-item-surcharge {
    text-align: end;
}

.comment-avatar {
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.comment-avatar > img {
    height: 3.5rem;
    width: auto;
}
