#card-header-style {
  font-size: 16px;
  background-color: var(--palette-black-main) !important;
  color: var(--palette-black-contrastText);
}

.status-finished, .status-inplay, .status-scheduled, .status-paused {
  text-transform: uppercase;
}

.status-finished {
  color: var(--palette-black-main) !important;
  font-weight: 600;
}

.status-inplay {
  color: var(--palette-green-main) !important;
  font-weight: 600;
}

.status-scheduled {
  color: var(--palette-black-main) !important;
  font-weight: 300;
}

.status-paused {
  color: var(--palette-primary-light) !important;
  font-weight: 600;
}

.display-score {
 display: flex;
 align-items: center;
}

.display-score > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
 }