#card-header-style {
  font-size: 16px;
  background-color: #2c2f35 !important;
  color: #fff;
}

.status-finished, .status-inplay, .status-scheduled, .status-paused {
  text-transform: uppercase;
}

.status-finished {
  color: #000 !important;
  font-weight: 600;
}

.status-inplay {
  color: #0c893c !important;
  font-weight: 600;
}

.status-scheduled {
  color: #000 !important;
  font-weight: 300;
}

.status-paused {
  color: #c40808 !important;
  font-weight: 600;
}

.display-score {
 display: flex;
 align-items: center;
}

.display-score > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
 }