#card-header-style {
  font-size: 16px;
  background-color: #2c2f35 !important;
  color: #fff;
  border-radius: 0;
}

.status-finished {
  color: #000 !important;
  font-weight: 800;
}

.status-inplay {
  color: #0c893c !important;
  font-weight: 600;
}

.status-scheduled {
  color: #000 !important;
  font-weight: 600;
}

.status-paused {
  color: #c40808 !important;
  font-weight: 600;
}
