.moderators-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: grid;
    min-height: 40rem;
    gap: 2rem;
    margin-top: 2rem;
    background-color: #FDFFFC;
    box-shadow: 0px 8px 24px -3px rgba(0,0,0,0.1);
}

@media (max-width: 576px){
    .moderators-wrapper {
        margin-top: 4rem !important;
    }
}