/* .test {
    margin-top: 1rem;
    transform: skew(4deg);
    background: transparent;
    border-bottom: 61px solid #555;
    border-left: 5px solid transparent;
    border-right: 68px solid transparent;
    height: 0;
    width: 286px;
    border-top: none;
} */

