.styled-container {
    padding: 1rem 5rem;	
    display: grid;	
    row-gap: 1rem;
}

@media (max-width: 768px){
    .styled-container {
        padding: 1rem;	
    }
}

@media (max-width: 576px){
    .styled-container {
        padding: 0;
    }
}