.comment-layout {
    background-color: #FFF !important;
    padding: 0 !important;
}

.comment-layout > .title {
    background-color: #BCC3CA;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 700;
}

.comment-layout > .content {
    padding: 1.5rem;
}

@media only screen and (max-device-width : 1024px) {
    .comment-layout{
        display: none;
    }
}