.news-page {
    max-width: 960px !important;
    width: auto;
}

.news-page__img-article {
    max-width: 100%;
    height: auto;
}

.news-page__article-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-page__article-img {
    height: 400px;
}

.news-page__article-caption {
    background-color:  var(--palette-grey-lighter);
    padding: 0.5rem;
}

@media (max-width: 768px){
    .author-intro {
        gap: 15px;
    }
    .author-intro > div {
        width: 100%;
    }
  }

@media (max-width: 576px){
    .news, .news-page {
        padding: 0 !important;
    }
    .author-intro {
       margin-top: 50px;
    }
  }