.scoreboard-header > #name {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}

.scoreboard-header__img {
  width: unset !important;
}

.scoreboard-header {
  width: unset !important;
  display: flex;
  flex-direction: column;
}

#demo-simple-select {
  padding: 10px;
}

@media (max-width: 576px){
  .matches-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}