.scoreboard-header > #name {
  font-family: 'Bellota Text', serif;
  font-size: 1.75rem;
  font-weight: 800;
}
.scoreboard-header > #season {
  font-size: 1.25rem;
  font-family: 'Inter', serif;
}
.scoreboard-header > #matchday {
  font-size: 1rem;
  font-family: 'Inter', serif;
}

.scoreboard-header__img {
  width: unset !important;
}

.scoreboard-header {
  width: unset !important;
  display: flex;
  flex-direction: column;
  margin-top: 30px !important;
}

#demo-simple-select {
  padding: 10px;
}

@media (max-width: 576px){
  .matches-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}