.news__article-card > p:last-of-type {
    margin-top: auto;
}

.news__article-card {
    margin-top: 2rem !important;
    display: flex;
    flex-direction: column !important;
}

.article-status {
    width: fit-content;
    background-color: #efefef;
    padding: 0.3rem;
    border-radius: 5px;
}