.news {
    max-width: 960px !important;
}

.news-component {
    padding: 1rem 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 576px){
    .news-component{
        padding: 0;
    }
}