.banner {
  height: 350px;
  /* margin-top: 64px; */
  background-size: cover;
  /* background-position: 'center'; */
}

.banner-wrapper {
  height: 400px;
}

@media (max-width: 991px){
  .banner-wrapper {
    margin-top: 108px;
  }
}

@media (max-width: 767px){
  .banner {
    height: 250px;
  }

  .banner-wrapper {
    height: 250px;
  }
}


@media (max-width: 575px){
  .banner-wrapper {
    display: none;
  }
}