.mc-title {
  position: relative;
  background: var(--palette-primary-dark);
  display: inline-block;
  color: var(--palette-white-main);
  padding: 0.24em 0.3em 0.25em;
  padding: 1rem;
  /* text-transform: uppercase !important; */
  margin: 0;
  font-size: 1rem;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-weight: normal;
  /* z-index: 1000; */
}

.mc-title:after {
  position: absolute;
  z-index: -1;
  content: '';
  right: -20%;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: inherit;
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
}

@media (max-width: 576px){
  .mc-title {
    background-color: unset;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
  }

  .main-content {
    background-color: unset !important;
    box-shadow: unset !important;
  }
  
  .main-content > div {
    margin-top: 0;
    margin-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
  }


}