.layout {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.layout-cols {
  display: flex;
  flex-direction: column;
}

.title-section {
  font-size: 2rem !important;
  font-family: 'Adamina', serif !important;
  margin-top: 1rem !important;
  color: var(--palette-black-light)
}
