body {
  margin: 0;
  font-weight: 400 !important;
  background-color: var(--palette-grey-lighter) !important;
  /* font-size: 12px !important; */
  font-family: system-ui, sans-serif;
  font-weight: normal;
}

@media (max-width: 576px){
  body {
    background-color: #fcf9f9 !important;
  }
}
